HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# dependencies
target/
lib/
spark-warehouse/

# IDE configs
.idea/
*.iml

# volatile files
*.log
.mvn

# 单元测试相关需要 ignore 的文件
/src/test/java/com/hx/repository/tests/sqlite/ignore
/src/test/java/com/hx/repository/tests/utils/ignore
/src/test/resources/trade.sqlite3

